<template>
  <div class="sidebar">
    <div class="sidebar__top">
      <button class="sidebar__close">
        <svg class="icon icon-close">
          <use xlink:href="img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <a class="sidebar__logo" href="index.html"
        ><img
          class="sidebar__pic sidebar__pic_black"
          src="/img/logo-dark.svg"
          alt="" /><img
          class="sidebar__pic sidebar__pic_white"
          src="/img/logo-dark.svg"
          alt=""
      /></a>
      <button class="sidebar__burger"></button>
    </div>
    <div class="sidebar__wrapper">
      <div class="sidebar__inner">
        <a class="sidebar__logo" href="index.html"
          ><img class="sidebar__pic" src="/img/logo-sm.png" alt=""
        /></a>
        <div class="sidebar__list">
          <div class="sidebar__group">
            <div class="sidebar__caption caption-sm">
              Admin<span> tools</span>
            </div>
            <div class="sidebar__menu">
              <nuxt-link class="sidebar__item" to="/">
                <div class="sidebar__icon">
                  <svg class="icon icon-overview">
                    <use xlink:href="img/sprite.svg#icon-overview"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Overview</div>
              </nuxt-link>
              <nuxt-link class="sidebar__item" to="/orders">
                <div class="sidebar__icon">
                  <svg class="icon icon-bag">
                    <use xlink:href="img/sprite.svg#icon-bag"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Orders</div>
              </nuxt-link>
              <nuxt-link class="sidebar__item" to="/balances">
                <div class="sidebar__icon">
                  <svg class="icon icon-bag">
                    <use xlink:href="img/sprite.svg#icon-bag"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Balances</div>
              </nuxt-link>
              <nuxt-link class="sidebar__item" to="/coupons">
                <div class="sidebar__icon">
                  <svg class="icon icon-bag">
                    <use xlink:href="img/sprite.svg#icon-bag"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Coupons</div>
              </nuxt-link>
              <nuxt-link class="sidebar__item" to="/payouts">
                <div class="sidebar__icon">
                  <svg class="icon icon-bag">
                    <use xlink:href="img/sprite.svg#icon-bag"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Payouts</div>
              </nuxt-link>
              <nuxt-link class="sidebar__item" to="/settings">
                <div class="sidebar__icon">
                  <svg class="icon icon-chart">
                    <use xlink:href="img/sprite.svg#icon-chart"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Settings</div>
              </nuxt-link>

              <a class="sidebar__item" href="" @click="onLogout">
                <div class="sidebar__icon">
                  <svg class="icon icon-discovery">
                    <use xlink:href="img/sprite.svg#icon-discovery"></use>
                  </svg>
                </div>
                <div class="sidebar__text">Logout</div>
              </a>
            </div>
          </div>
        </div>
        <div class="sidebar__profile">
          <div class="sidebar__details">
            <a class="sidebar__link" href="#">
              <div class="sidebar__icon">
                <svg class="icon icon-profile">
                  <use xlink:href="img/sprite.svg#icon-profile"></use>
                </svg>
              </div>
              <div class="sidebar__text">Profile</div> </a
            ><a class="sidebar__link" href="#">
              <div class="sidebar__icon">
                <svg class="icon icon-logout">
                  <use xlink:href="img/sprite.svg#icon-logout"></use>
                </svg>
              </div>
              <div class="sidebar__text">Log out</div>
            </a>
          </div>
          <a class="sidebar__user" href="#">
            <!-- <div class="sidebar__ava">
              <img class="sidebar__pic" src="/img/ava.png" alt="" />
            </div> -->
            <div class="sidebar__desc">
              <!-- <div class="sidebar__man">Tam Tran</div> -->
              <!-- <div class="sidebar__status caption">Free account</div> -->
            </div>
            <!-- <div class="sidebar__arrow">
              <svg class="icon icon-arrows">
                <use xlink:href="img/sprite.svg#icon-arrows"></use>
              </svg>
            </div> -->
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar__bottom">
      <label class="switch switch_theme js-switch-theme"
        ><input class="switch__input" type="checkbox" /><span class="switch__in"
          ><span class="switch__box"></span
          ><span class="switch__icon"
            ><svg class="icon icon-moon">
              <use xlink:href="img/sprite.svg#icon-moon"></use></svg
            ><svg class="icon icon-sun">
              <use
                xlink:href="img/sprite.svg#icon-sun"
              ></use></svg></span></span
      ></label>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sidebar",

  methods: {
    async onLogout() {
      await this.$auth.logout();
      await this.$router.push("/");
    },
  },
};
</script>

<style scoped></style>
