<template>
  <div class="page__row page__row_border">
    <div class="page__col page__col_full">
      <div class="notification__container">
        <div class="notification__title h6">Add New Collection</div>
        <div class="notification__list">
          <div class="form__wrapper">
            <div class="upload__box" @click="openFileUploader">
              <span v-show="cover_image.length < 10"
                >Upload cover image here</span
              >
              <img
                :src="getCoverImageURL"
                v-if="getCoverImageURL.length > 30"
              />
            </div>
            <input
              type="file"
              style="display: none"
              @change="onChangeFile"
              id="file-uploader-input"
            />

            <!-- <div class="form__field field">
              <div class="field__label">name</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="name"
                  placeholder="Name"
                />
              </div>
            </div> -->
            <div class="form__field field">
              <div class="field__label">description</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="description"
                  placeholder="Description"
                />
              </div>
            </div>
            <div class="form__field field">
              <div class="field__label">contract address</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="contract_address"
                  placeholder="OX..."
                />
              </div>
            </div>

            <div class="form__field field">
              <div class="field__label">discord</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="discord"
                  placeholder="discord"
                />
              </div>
            </div>

            <div class="form__field field">
              <div class="field__label">twitter</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="twitter"
                  placeholder="twitter"
                />
              </div>
            </div>
            <div class="form__field field">
              <div class="field__label">website</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="website"
                  placeholder="website"
                />
              </div>
            </div>

            <div class="form__field">
              <button
                class="btn btn_purple btn_block"
                @click="onSaveCollectionClick"
              >
                Import
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page__col page__col_full border-0">
      <div class="page__stat page__stat_sm">
        <div class="sorting mobile-show">
          <div class="sorting__row">
            <div class="sorting__col">
              <div class="sorting__dropdowns">
                <div class="dropdown js-dropdown">
                  <div class="dropdown__head js-dropdown-head">
                    Last 30 days
                  </div>
                </div>
              </div>
            </div>
            <div class="sorting__col">
              <div class="sorting__line">
                <div class="sorting__search">
                  <button class="sorting__open">
                    <svg class="icon icon-search">
                      <use xlink:href="img/sprite.svg#icon-search"></use>
                    </svg>
                  </button>
                  <input
                    class="sorting__input"
                    type="text"
                    placeholder="Search"
                  />
                </div>
                <div class="sorting__actions">
                  <button class="sorting__action">
                    <svg class="icon icon-print">
                      <use xlink:href="img/sprite.svg#icon-print"></use>
                    </svg>
                  </button>
                  <button class="sorting__action">
                    <svg class="icon icon-download-fat">
                      <use xlink:href="img/sprite.svg#icon-download-fat"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sorting mobile-hide">
          <div class="sorting__actions">
            <button class="sorting__action">
              <svg class="icon icon-print">
                <use xlink:href="img/sprite.svg#icon-print"></use>
              </svg>
            </button>
            <button class="sorting__action">
              <svg class="icon icon-download-fat">
                <use xlink:href="img/sprite.svg#icon-download-fat"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="products products_statement">
          <div class="products__title h6 mobile-hide">Added Collections</div>
          <div class="products__info caption mobile-hide">Collection list</div>
          <div class="products__table">
            <div class="products__row products__row_head">
              <div class="products__cell">Name</div>
              <div class="products__cell">Tokens</div>

              <div class="products__cell">balance</div>

              <div class="products__cell">total sales</div>
            </div>

            <div
              class="products__row"
              v-for="(collection, index) in collectionsData.items"
              v-bind:key="index"
            >
              <div class="products__cell">
                <nuxt-link
                  class="sidebar__item"
                  :to="'/contract/' + collection.slug"
                >
                  {{ collection.name }}
                </nuxt-link>
                <a
                  class="sidebar__item"
                  target="_blank"
                  :href="getStore(collection.slug)"
                >
                  store
                </a>
              </div>
              <div class="products__cell">
                {{ collection.balance }}
              </div>
              <div class="products__cell">{{ collection.tokens }}</div>
              <div class="products__cell">{{ collection.totalSales }}</div>
            </div>
          </div>
          <div class="products__more">
            <!-- <button class="products__btn btn btn_black">Load More</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";

export default {
  name: "CollectionsSettings",

  data() {
    return {
      uploadFile: null,
      name: "",
      discord: "",
      twitter: "",
      website: "",
      tag: "",
      contract_address: "",
      collectionsData: { items: [] },
      cover_image: "",
      description: "",
      page: 1,
      limit: 15,
    };
  },

  created() {
    this.getRecord();
  },

  computed: {
    records() {
      return this.collectionsData.items;
    },
    getCoverImageURL() {
      return `${process.env.PUBLIC_ASSETS_URL}${this.cover_image}`;
    },
  },

  methods: {
    async getRecord() {
      await this.$axios
        .$get(
          `${apiRoutes.COLLECTION_INDEX}?page=${this.page}&limit=${this.limit}`
        )
        .then((response) => {
          this.collectionsData.items = response.items;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getStore(slug) {
      return `${process.env.STORE}/${slug}`;
    },
    async openFileUploader() {
      document.getElementById("file-uploader-input").click();
    },
    async onChangeFile(event) {
      const file = event.target.files[0];
      if (!file) return;
      this.imagePreview = file;

      let reader = new FileReader();
      reader.onloadend = () => {
        // this.imagePreview = reader.result;
        this.upload();
      };
      if (file) {
        reader.readAsDataURL(file);
      }
    },
    async upload() {
      let fd = new FormData();
      fd.append("file", this.imagePreview);
      fd.append("usage", "Cover");
      await this.$axios
        .$post(apiRoutes.UPLOAD + "/upload", fd, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          this.cover_image = response.url ?? '';
        })
        .catch((err) => {
          if (err.status === 413) {
            this.$toast.error("The file is too large (Max: 6M)");
          } else {
            this.$toast.error(err.response.data.message);
          }
        })
        .finally(() => {
          setTimeout(() => {
            this.uploading = false;
          }, 2000);
        });
    },

    async onSaveCollectionClick() {
      await this.$axios
        .$post(`${apiRoutes.COLLECTION_INDEX}`, {
          contractAddress: this.contract_address,
          name: this.name,
          description: this.description,
          cover_image: this.cover_image,
          discord: this.discord,
          twitter: this.twitter,
          website: this.website,
        })
        .then((data) => {
          this.contract_address = "";
          this.$toast.success("The contract address is retrieving ");
        });
    },
  },
};
</script>

<style scoped></style>
