<template>

  <div class="page__row page__row_border">

    <div class="page__col page__col_full">
      <div class="notification__container">
        <div class="notification__title h6">
          Add New Collection
        </div>
        <div class="notification__list">
          <div class="form__wrapper">

            <div class="upload__box">
              <span>Upload Collection json here</span>
            </div>

            <div class="form__field field">
              <div class="field__label">Collection Name</div>
              <div class="field__wrap">
                <input class="field__input" type="text" placeholder="Lead Visual Designer">
              </div>
            </div>


            <div class="form__field field">
              <div class="field__label">Tag</div>
              <div class="field__wrap">
                <input class="field__input" type="text" placeholder="OG,3D">
              </div>
            </div>


            <div class="form__field">
              <button class="btn btn_purple btn_block">
                Import
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page__col page__col_full border-0">
      <div class="page__stat page__stat_sm">
        <div class="sorting mobile-show">
          <div class="sorting__row">
            <div class="sorting__col">
              <div class="sorting__dropdowns">
                <div class="dropdown js-dropdown">
                  <div class="dropdown__head js-dropdown-head">Last 30 days</div>
                  <div class="dropdown__body js-dropdown-body"><a class="dropdown__item" href="#">
                    <div class="dropdown__title title">Bento 3D Kit </div>
                    <div class="dropdown__info caption">Illustration</div>
                  </a><a class="dropdown__item" href="#">
                    <div class="dropdown__title title">Bento 3D Kit </div>
                    <div class="dropdown__info caption">Illustration</div>
                  </a><a class="dropdown__item" href="#">
                    <div class="dropdown__title title">Collab UI Kit </div>
                    <div class="dropdown__info caption">Coded Template</div>
                  </a></div>
                </div>
                <div class="dropdown js-dropdown">
                  <div class="dropdown__head js-dropdown-head">Aug 2020</div>
                  <div class="dropdown__body js-dropdown-body"><a class="dropdown__item" href="#">
                    <div class="dropdown__title title">Bento 3D Kit </div>
                    <div class="dropdown__info caption">Illustration</div>
                  </a><a class="dropdown__item" href="#">
                    <div class="dropdown__title title">Bento 3D Kit </div>
                    <div class="dropdown__info caption">Illustration</div>
                  </a><a class="dropdown__item" href="#">
                    <div class="dropdown__title title">Collab UI Kit </div>
                    <div class="dropdown__info caption">Coded Template</div>
                  </a></div>
                </div>
              </div>
            </div>
            <div class="sorting__col">
              <div class="sorting__line">
                <div class="sorting__search"><button class="sorting__open"><svg class="icon icon-search">
                  <use xlink:href="img/sprite.svg#icon-search"></use>
                </svg></button><input class="sorting__input" type="text" placeholder="Search"></div>
                <div class="sorting__actions"><button class="sorting__action"><svg class="icon icon-print">
                  <use xlink:href="img/sprite.svg#icon-print"></use>
                </svg></button><button class="sorting__action"><svg class="icon icon-download-fat">
                  <use xlink:href="img/sprite.svg#icon-download-fat"></use>
                </svg></button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sorting mobile-hide">
          <div class="sorting__actions"><button class="sorting__action"><svg class="icon icon-print">
            <use xlink:href="img/sprite.svg#icon-print"></use>
          </svg></button><button class="sorting__action"><svg class="icon icon-download-fat">
            <use xlink:href="img/sprite.svg#icon-download-fat"></use>
          </svg></button></div>
        </div>
        <div class="products products_statement">
          <div class="products__title h6 mobile-hide">Statement</div>
          <div class="products__info caption mobile-hide">Please note: Transactions are based Time in California, USA.</div>
          <div class="products__table">
            <div class="products__row products__row_head">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell">Date</div>
              <div class="products__cell">Order ID</div>
              <div class="products__cell">Amount</div>
              <div class="products__cell">Price</div>
              <div class="products__cell text-right">Type</div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
            <div class="products__row">
              <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
              <div class="products__cell color-gray">17 Aug 2020</div>
              <div class="products__cell">39511350</div>
              <div class="products__cell">$68.00</div>
              <div class="products__cell color-red">-68.00</div>
              <div class="products__cell text-right">
                <div class="products__status caption bg-green">Sale</div>
              </div>
            </div>
            <div class="products__body">
              <div class="products__bg bg-green"></div>
              <div class="products__line">
                <div class="products__col color-gray">17 Aug 2020</div>
                <div class="products__col">$68.00</div>
                <div class="products__col color-red">-68.00</div>
              </div>
            </div>
          </div>
          <div class="products__more"><button class="products__btn btn btn_black">Load More</button></div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "ItemsSettings"
}
</script>

<style scoped>

</style>
