<template>
  <div class="page__row page__row_border">
    <div class="page__col page__col_full">
      <div class="notification__container">
        <div class="notification__title h6">Add New Product</div>
        <div class="notification__list">
          <div class="form__wrapper">
            <div class="upload__box" @click="openFileUploader">
              <span v-show="cover_image.length < 10"
                >Upload cover image here</span
              >

              <img
                v-if="getCoverImageURL.length > 30"
                :src="getCoverImageURL"
              />
            </div>
            <input
              type="file"
              style="display: none"
              @change="onChangeFile"
              id="file-uploader-input"
            />

            <div class="form__field field">
              <div class="field__label">Name</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  type="text"
                  v-model="name"
                  placeholder="Name"
                />
              </div>
            </div>

            <div class="form__field field">
              <div class="field__label">Description</div>
              <div class="field__wrap">
                <textarea
                  class="field__input"
                  type="text"
                  placeholder="description"
                  v-model="description"
                />
              </div>
            </div>
            <div class="form__field field">
              <div class="field__label">Price</div>
              <div class="field__wrap">
                <input
                  class="field__input"
                  v-model="price"
                  type="number"
                  placeholder="Price"
                />
              </div>
            </div>
            <div class="form__field field">
              <div class="field__label">Collection</div>
              <v-select
                class="v-select-style"
                placeholder="Select country "
                :options="nft_collections"
                label="name"
                v-model="nft_collection"
              >
              </v-select>
              <div v-if="$v.nft_collection.$error">collection is required</div>
            </div>

            <div class="form__field">
              <button class="btn btn_purple btn_block" @click="addProduct">
                Import
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list -->
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";
import {
  required
} from "vuelidate/lib/validators";

export default {
  name: "ProductsSettings",
  data() {
    return {
      imagePreview: "",
      cover_image: "",
      name: "",
      description: "",
      nft_collection: { name: "", value: "" },
      nft_collections: [],
      price: 0,
    };
  },
  computed: {
    getCoverImageURL() {
      return `${process.env.PUBLIC_ASSETS_URL}${this.cover_image}`;
    },
  },
  validations: {
    name: { required },
    price: { required },
    description: { required },
    cover_image: { required },
    nft_collection: { required },
  },
  methods: {
    async openFileUploader() {
      document.getElementById("file-uploader-input").click();
    },
    async onChangeFile(event) {
      const file = event.target.files[0];
      if (!file) return;
      this.imagePreview = file;

      let reader = new FileReader();
      reader.onloadend = () => {
        // this.imagePreview = reader.result;
        this.upload();
      };
      if (file) {
        reader.readAsDataURL(file);
      }
    },
    async upload() {
      let fd = new FormData();
      fd.append("file", this.imagePreview);
      fd.append("usage", "Cover");
      await this.$axios
        .$post(apiRoutes.UPLOAD + "/upload", fd, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          this.cover_image = response.url ?? '';
        })
        .catch((err) => {
          if (err.status === 413) {
            this.$toast.error("The file is too large (Max: 6M)");
          } else {
            this.$toast.error(err.response.data.message);
          }
        })
        .finally(() => {
          setTimeout(() => {
            this.uploading = false;
          }, 2000);
        });
    },
    async getNfts() {
      this.$axios.$get(apiRoutes.COLLECTION_INDEX).then((response) => {
        response.items?.map((nft) => {
          this.nft_collections.push({ value: nft._id, name: nft.name });
        });
      });
    },
    async addProduct() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$axios
          .$post(apiRoutes.PRODUCTS, {
            name: this.name,
            description: this.description,
            cover_image: this.cover_image,
            price: this.price,
            nft_collection: this.nft_collection.value,
          })
          .then((response) => {
            this.$toast.success("product saved");
            this.name = '';
            this.description = '';
            this.cover_image = '';
            this.price = '';
          });
      } else {
        this.$toast.error("Please complete all inputs.");
      }
    },
  },
  created() {
    this.getNfts();
  },
};
</script>

<style scoped></style>
