<template>

  <div class="two_factor__container">

    <div class="two_factor__wrapper">
      <div>
        <h1 class="two_factor__title">
          Two-Factor Authentication
        </h1>
        <p class="mr-3">
          Increase your account's security by enabling Two-Factor Authentication (2FA)
          This will be use to secure login and withdrawals.
        </p>
      </div>

      <div class="">
        <div v-if="!isPreparing">
          Status: {{ OtpIsEnabled ? 'Enabled' : 'Disabled' }}
          <br>
        </div>

        <div v-if="!OtpIsEnabled">
          <div v-if="!isPreparing">
            <br>
            <button class="btn btn_purple btn-sm" @click="isPreparing = true">
              Enable Two-Factor Authentication
            </button>
          </div>
          <div v-else>
            <p class="mr-3">
              Download the Google Authenticator application from App Store or Google Play and scan this code.
            </p>

            <img :src="otpImage" alt="">


            <div class="form__field field">
              <div class="field__label">Pin Code</div>
              <div class="field__wrap">
                <input class="field__input" v-model="otpCode" type="text" placeholder="">
              </div>
            </div>
            <br>
            <button class="btn btn_purple" @click="onRegisterApp">
              Register with two-factor app
            </button>

          </div>
        </div>
        <div v-else>


          <div class="form__field field">
            <div class="field__wrap">
              <input class="field__input" v-model="otpCode" type="text" placeholder="Pin Code">
            </div>
          </div>

          <br>

          <button class="btn btn_purple btn-sm" @click="onDisableApp">
            Disable Two-Factor Authentication
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";

export default {
  name: "CollectionsSettings",

  data() {
    return {
      isPreparing: false,
      otpImage: null,
      otpCode: '',
    }
  },

  computed: {
    OtpIsEnabled() {
      return this.$auth.user.otp
    }
  },

  watch: {
    async isPreparing() {
      if (this.isPreparing) {
        await this.$axios.$post(apiRoutes.OTP_GENERATE, {}, {
          responseType: 'blob',
        }).then((data) => {
          this.otpImage = URL.createObjectURL(data);
        }).catch((err) => {

        })
      }
    }
  },

  methods: {
    async onRegisterApp() {
      await this.$axios.$post(apiRoutes.OTP_TURN_ON, {
        code: this.otpCode
      }).then((data) => {
        this.otpCode = ''
        this.isPreparing = false
        this.$auth.fetchUser()
      }).catch((err) => {
        this.$toast.error(err.response.data.message)
      })
    },
    async onDisableApp() {
      await this.$axios.$post(apiRoutes.OTP_TURN_OFF, {
        code: this.otpCode
      }).then((data) => {
        this.otpCode = ''
        this.$auth.fetchUser()
      }).catch((err) => {
        this.$toast.error(err.response.data.message)
      })
    }
  }
}
</script>

<style scoped>

</style>
