<template>
  <div class="page__stat">
    <div class="page__title h6">Withdraw History</div>
    <div class="sorting">
      <div class="sorting__row">
        <div class="sorting__col">
          <div class="sorting__dropdowns">
            <div class="dropdown js-dropdown">
              <div class="dropdown__head js-dropdown-head">Last 30 days</div>
              <div class="dropdown__body js-dropdown-body"><a class="dropdown__item" href="#">
                <div class="dropdown__title title">Bento 3D Kit </div>
                <div class="dropdown__info caption">Illustration</div>
              </a><a class="dropdown__item" href="#">
                <div class="dropdown__title title">Bento 3D Kit </div>
                <div class="dropdown__info caption">Illustration</div>
              </a><a class="dropdown__item" href="#">
                <div class="dropdown__title title">Collab UI Kit </div>
                <div class="dropdown__info caption">Coded Template</div>
              </a></div>
            </div>
            <div class="dropdown js-dropdown">
              <div class="dropdown__head js-dropdown-head">Aug 2020</div>
              <div class="dropdown__body js-dropdown-body"><a class="dropdown__item" href="#">
                <div class="dropdown__title title">Bento 3D Kit </div>
                <div class="dropdown__info caption">Illustration</div>
              </a><a class="dropdown__item" href="#">
                <div class="dropdown__title title">Bento 3D Kit </div>
                <div class="dropdown__info caption">Illustration</div>
              </a><a class="dropdown__item" href="#">
                <div class="dropdown__title title">Collab UI Kit </div>
                <div class="dropdown__info caption">Coded Template</div>
              </a></div>
            </div>
          </div>
        </div>
        <div class="sorting__col">
          <div class="sorting__line">
            <div class="sorting__search"><button class="sorting__open"><svg class="icon icon-search">
              <use xlink:href="img/sprite.svg#icon-search"></use>
            </svg></button><input class="sorting__input" type="text" placeholder="Search"></div>
            <div class="sorting__actions"><button class="sorting__action"><svg class="icon icon-edit">
              <use xlink:href="img/sprite.svg#icon-edit"></use>
            </svg></button><button class="sorting__action"><svg class="icon icon-box">
              <use xlink:href="img/sprite.svg#icon-box"></use>
            </svg></button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="products products_history">
      <div class="products__table">
        <div class="products__row products__row_head">
          <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
          <div class="products__cell">Transaction</div>
          <div class="products__cell">Payout Method</div>
          <div class="products__cell">Stattus</div>
          <div class="products__cell">Date Processed</div>
          <div class="products__cell">Fees</div>
        </div>
        <div class="products__row">
          <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
          <div class="products__cell">
            <div class="products__price title">$2,932.9</div>
            <div class="products__transaction caption color-gray">$25.00 transaction fee</div>
          </div>
          <div class="products__cell">Paypal</div>
          <div class="products__cell">
            <div class="products__status caption bg-green">Paid</div>
          </div>
          <div class="products__cell color-gray">17 Aug 2020</div>
          <div class="products__cell color-red">$3.49</div>
        </div>
        <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
        <div class="products__row">
          <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
          <div class="products__cell">
            <div class="products__price title">$2,932.9</div>
            <div class="products__transaction caption color-gray">$25.00 transaction fee</div>
          </div>
          <div class="products__cell">Paypal</div>
          <div class="products__cell">
            <div class="products__status caption bg-green">Paid</div>
          </div>
          <div class="products__cell color-gray">17 Aug 2020</div>
          <div class="products__cell color-red">$3.49</div>
        </div>
        <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
        <div class="products__row">
          <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
          <div class="products__cell">
            <div class="products__price title">$2,932.9</div>
            <div class="products__transaction caption color-gray">$25.00 transaction fee</div>
          </div>
          <div class="products__cell">Paypal</div>
          <div class="products__cell">
            <div class="products__status caption bg-green">Paid</div>
          </div>
          <div class="products__cell color-gray">17 Aug 2020</div>
          <div class="products__cell color-red">$3.49</div>
        </div>
        <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
        <div class="products__row">
          <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
          <div class="products__cell">
            <div class="products__price title">$2,932.9</div>
            <div class="products__transaction caption color-gray">$25.00 transaction fee</div>
          </div>
          <div class="products__cell">Paypal</div>
          <div class="products__cell">
            <div class="products__status caption bg-green">Paid</div>
          </div>
          <div class="products__cell color-gray">17 Aug 2020</div>
          <div class="products__cell color-red">$3.49</div>
        </div>
        <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
        <div class="products__row">
          <div class="products__cell"><label class="checkbox"><input class="checkbox__input" type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span></span></label></div>
          <div class="products__cell">
            <div class="products__price title">$2,932.9</div>
            <div class="products__transaction caption color-gray">$25.00 transaction fee</div>
          </div>
          <div class="products__cell">Paypal</div>
          <div class="products__cell">
            <div class="products__status caption bg-green">Paid</div>
          </div>
          <div class="products__cell color-gray">17 Aug 2020</div>
          <div class="products__cell color-red">$3.49</div>
        </div>
        <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
      </div>
      <div class="products__more"><button class="products__btn btn btn_black">Load More</button></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UsersSettings"
}
</script>

<style scoped>

</style>
