<template>
  <div class="page__row page__row_border">
    <div class="products__table">
      <div class="products__row products__row_head">
        <div class="products__cell">
          <label class="checkbox"
            ><input class="checkbox__input" type="checkbox" /><span
              class="checkbox__in"
              ><span class="checkbox__tick"></span></span
          ></label>
        </div>
        <div class="products__cell">Name</div>
        <div class="products__cell">asset</div>
        <div class="products__cell">wallet address</div>
        <div class="products__cell">total price</div>
        <div class="products__cell">user</div>
        <div class="products__cell">utrust id</div>
        <div class="products__cell text-right">Status</div>
      </div>
      <div class="products__row">
        <div class="products__cell">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" /><span
              class="checkbox__in"
              ><span class="checkbox__tick"></span
            ></span>
          </label>
        </div>
        <div class="products__cell color-gray">{{ collection.name }}</div>
        <div class="products__cell">0</div>
        <div class="products__cell">$0.00</div>
        <div class="products__cell color-red">0.00</div>
        <div class="products__cell color-red">{{ collection.createdAt }}</div>
        <div class="products__cell text-right">
          <div class="products__status caption bg-green">Live</div>
        </div>
      </div>
      <div class="products__body">
        <div class="products__bg bg-green"></div>
        <div class="products__line">
          <div class="products__col color-gray">{{ collection.createdAt }}</div>
          <div class="products__col">$00.00</div>
          <div class="products__col color-red">-68.00</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "table",
};
</script>
