<template>
  <div class="page__stat">
    <div class="page__title h6">Add Coupon</div>

    <div class="sorting">
      <div class="sorting__row"></div>
    </div>
    <div class="products products_history">
      <div class="page__row">
        <!-- <div class="page__cell">
          start date
          <date-picker
            placeholder="MM/DD/YYYY"
            format="MM/dd/yyyy"
            v-model="date_today"
          />
        </div>
        <div class="products__cell">
          end date
          <date-picker
            placeholder="MM/DD/YYYY"
            format="MM/dd/yyyy"
            v-model="date_today"
          />
        </div> -->
        <div cls="page__cell">
          <form @submit="createCoupon">
            Code:
            <input
              type="text"
              class="sorting__input"
              v-model="code"
              placeholder="code"
            />
            Percent:
            <input
              type="number"
              class="sorting__input"
              v-model="percent"
              placeholder="percent"
            />
            Amount:
            <input
              type="number"
              class="sorting__input"
              v-model="amount"
              placeholder="amount"
            />
            number of usage:
            <input
              type="number"
              class="sorting__input"
              v-model="numberOfUsageRestriction"
              placeholder="number of usage"
            />
            <div v-if="error">{{ error }}</div>
            <button class="products__btn btn btn_black">create</button>
          </form>
        </div>
      </div>
      <div class="page__row" v-for="coupon of coupons" v-bind:key="coupon._id">
        <div class="page__cell">{{ coupon.code }}</div>
        <div class="page__cell">{{ coupon.percent }}</div>
        <div class="page__cell">{{ coupon.amount }}</div>
      </div>
      <!-- <div class="products__more" v-show="loadMore">
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "CreateCoupon",
  data() {
    return {
      percent: 0,
      amount: 0,
      numberOfUsageRestriction: null,
      code: "",
      date_today: new Date(),
      startDate: new Date(),
      endDate: new Date(),
      coupons: [],
      error: "",
    };
  },
  computed: {
    async nftCollections() {
      return await this.$axios.get("/contracts").then((response) => {
        return response.data;
      });
    },
    assets() {},
    merches() {},
  },
  watch: {
    list() {},
  },
  methods: {
    async createCoupon(event) {
      event.preventDefault();
      await this.$axios
        .post("coupons", {
          code: this.code,
          percent: this.percent,
          amount: this.amount > 0 ? this.amount : undefined,
          numberOfUsageRestriction:
            this.numberOfUsageRestriction > 0
              ? parseInt(this.numberOfUsageRestriction)
              : undefined,
        })
        .then((response) => {
          this.error = "";
          this.code = "";
          this.percent = 0;
          this.amount = 0;
          this.numberOfUsageRestriction = 0;
        })
        .catch((error) => {
          this.error = error.response.data.message;
        });
    },
    async fetchCoupons() {
      await this.$axios.get("coupons").then((response) => {
        this.coupons = response.data;
      });
    },
  },
  created() {},
};
</script>

<style scoped></style>
