.page__col_full {
  padding-right: 20px;
  padding-left: 0;
}

.border-0 {
  border: 0 !important;
}

.upload__box {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px;
  border: 2px solid #6c5dd3;
  border-radius: 16px;
  color: #808191;
}

.form__field {
  margin-top: 25px;
  padding: 0px;
}

.form__wrapper {
  padding: 0 20px;
}

.btn_block {
  width: 100%;
  display: block;
}

.page__row .page__col:first-child {
  max-width: calc(100% - 626px);
}

.page__row .page__col:nth-child(2) {
  width: 684px;
}

.page_flex__center {
  justify-content: center;
  align-items: center;
}

.auth__wrapper {
  padding: 10% 0 0;
}

.two_factor__container {
  position: relative;
  padding: 32px;
  border-radius: 24px;
  background: #ffffff;
}

.two_factor__container:before {
  content: "";
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  bottom: -32px;
  z-index: -1;
  background: #e3e6ec;
  opacity: 0.91;
  -webkit-filter: blur(86.985px);
  filter: blur(86.985px);
  border-radius: 24px;
}

.two_factor__wrapper p {
  max-width: 80%;
  color: #3f3f3f;
}

.two_factor__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8%;
}

.btn-sm {
  padding: 8px 15px;
  height: auto;
}

.upload__box input[type="file"] {
  display: none;
}

.upload__box {
  cursor: pointer;
}
.margin-sides-10 {
  margin: 0px 10px;
}
