<template>
  <div class="page__row page__row_border">
    <div class="page__col page__col_full" v-show="order">
      <div>Number: {{ order._id }}</div>
      <div>Status: {{ order.shippingStatus }}</div>
      <div>Coin: {{ order.coin }}</div>
      <div><h3>Checkout Details</h3></div>

      <div>Gender: {{ checkoutDetails.gender }}</div>
      <div>Size: {{ checkoutDetails.size }}</div>
      <div>Email: {{ checkoutDetails.email_address }}</div>
      <div>
        Name: {{ checkoutDetails.first_name }}
        {{ checkoutDetails.last_name }}
      </div>
      <div>Country: {{ selectedCountry.name }}</div>
      <div>State: {{ checkoutDetails.state }}</div>
      <div>City: {{ checkoutDetails.city }}</div>
      <div>Address: {{ checkoutDetails.address }}</div>
      <div>Zip Code: {{ checkoutDetails.zipCode }}</div>
      <div>
        <div><h3>item info</h3></div>
        <div>Item: {{ merch.name }}</div>
        <div>Count: {{ order.count }}</div>
        <div>Background: {{ order.background }}</div>

        <div>
          Nft:
          <a
            :href="'https://openmerch.io/explore/' + asset._id"
            target="_blank"
            >{{ asset.name }}</a
          >
        </div>
      </div>
      <div v-show="user" v-if="user">
        <div><h3>user info</h3></div>
        <div>Name: {{ user.first_name }} {{ user.last_name }}</div>
        <div>Email: {{ user.email_address }}</div>
        <div>wallet address: {{ user.wallet_address }}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "orderDetails",
  data() {
    return {
      order: {},
      user: {},
      checkoutDetails: {},
      selectedCountry: {},
      asset: {},
      merch: {},
      _id: "",
    };
  },
  methods: {
    async fetchOrderById() {
      const _id = this.$route.params.id;
      await this.$axios.get(`orders/${_id}`).then((response) => {
        this.order = response.data.order;
        this.asset = response.data.order.asset;
        this.merch = response.data.order.merches;
        this.user = response.data.user;
        this.checkoutDetails = response.data.order.checkoutDetails;
        this.selectedCountry =
          response.data.order.checkoutDetails.selectedCountry;
      });
    },
  },
  created() {
    this.fetchOrderById();
  },
};
</script>
