<template>
  <div class="page page_other">
    <div class="page__wrapper auth__wrapper">
      <div class="page__center">
        <nuxt/>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "~/components/sections/Sidebar";

export default {
  name: "default.vue",
  components: {Sidebar},

  middleware: ["ifauthenticated"],
}
</script>

<style scoped>

</style>
