<template>
  <div class="page page_other">
    <Sidebar/>

    <div class="page__wrapper">
      <div class="page__center">
<nuxt/>
      </div>
    </div>

  </div>
</template>

<script>
import Sidebar from "~/components/sections/Sidebar";

export default {
  name: "default",

  middleware: ["authenticated"],

  components: {Sidebar}
}
</script>

<style scoped>

</style>
