<template>
  <div class="page__stat">
    <div class="page__title h6">Latest balances</div>
    <div class="page__row">
      <div class="page__col">
        <button
          class="btn btn_purple btn_block"
          @click="fetchUsersBalanceQueue"
        >
          reload balances
        </button>
        {{ error }}
      </div>
    </div>

    <div class="sorting">
      <div class="sorting__row">
        <div class="sorting__col">
          <!-- <div class="sorting__dropdowns"> -->
            <br/>
          <div v-if="setting.current">
            {{ setting.current }} of {{ setting.total }}
          </div>
          <div>Registered User balances: {{ (debtWhichHasWallet) ? debtWhichHasWallet.toFixed(5) : 0 }}</div>
          <div>Total User balances: {{ (debt) ? debt.toFixed(5) : 0 }}</div>
          <div>Total Pending Withdraw: {{ (totalPendingWithDraw) ? totalPendingWithDraw.toFixed(5) : 0 }}</div>
<!-- 
          <div>User balances (amount of withdraw): {{ (sum) ? sum.toFixed(5) : 0 }}</div>

          debtWhichHasWallet
          <div>Total balances: {{ (totalAssets) ? totalAssets.toFixed(5) : 0 }}</div> -->
          <!-- <div>Total owners: {{ total }}</div> -->
          <!-- <div>Updated at: {{ last_update }}</div> -->
        </div>
      </div>
    </div>
    <div class="products products_history" v-if="false">
      <img
        src="~/assets/images/loading.gif"
        width="50"
        height="50"
        v-show="loading"
      />
      <div class=""></div>
      <div class="products__table">
        <div class="products__row products__row_head">
          <div class="products__cell">wallets</div>
          <div class="products__cell">name</div>
          <div class="products__cell">balance</div>
          <div class="products__cell">verificationLink</div>
          <div class="products__cell">pay</div>
        </div>

        <div
          class="products__row"
          v-for="balance of balances"
          v-show="balance"
          v-bind:key="balance"
        >
          <div class="products__cell color-grey">
            <div class="products__price title" v-if="balance.user">
              <!-- <div
                class="products__price title"
                v-show="!balance.user.wallet_payout"
              > -->
              ETH: {{ balance.user.wallet_address }}
              <br />
              <!-- </div> -->
              TRON: {{ balance.user.wallet_payout }}
            </div>
            <div class="products__price title" v-if="!balance.user">
              <!-- <div
                class="products__price title"
                v-show="!balance.user.wallet_payout"
              > -->
              ETH*: {{ balance.wallet_address }}
            </div>
          </div>
          <div class="products__cell">
            <div
              class="products__price title"
              v-if="balance.user && balance.user.name"
            >
              {{ balance.user.name }}
            </div>
            <div
              class="products__price title"
              v-if="balance.user && !balance.user.name"
            >
              {{ balance.user.first_name }} {{ balance.user.last_name }}
            </div>
          </div>
          <div class="products__cell">
            <div class="products__transaction caption color-gray">
              {{ balance.balance }}
            </div>
          </div>
          <div class="products__cell">
            <div>
              <input
                class="field__input"
                type="text"
                v-model="balance.verificationLink"
                name="size"
                placeholder="e. g. https://etherscan.io"
                required=""
              />
            </div>
          </div>
          <div class="products__cell">
            <button
              v-if="balance.user && balance.user.wallet_payout"
              class="btn btn_purple btn_block"
              @click="
                onPayoutClick({
                  wallet_address: balance.user.wallet_address,
                  target_wallet: balance.user.wallet_payout,
                  amount: balance.balance,
                  verificationLink: balance.verificationLink,
                  tokens: balance.tokens,
                  balanceId: balance._id,
                })
              "
            >
              paid!
            </button>
          </div>
          <!-- <div class="products__cell">
            <span v-if="l.payment">{{ balance.user.wallet_payout }}</span>
          </div> -->

          <!-- create a component and render it by status -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Balance",

  data() {
    return {
      balances: [],
      payoutDetails: "",
      loading: false,
      sum: 0,
      debt:0,
      debtWhichHasWallet:0,
      total: 0,
      totalAssets: 0,
      error: "",
      setting: {},
    };
  },
  methods: {
    async fetchUsersBalanceQueue() {
      await this.$axios
        .get(`/balance`)
        .then((response) => {
          this.error = "";
        })
        .catch((e) => {
          // this.error = e.response.data.message;
          this.$toast.error(e.response.data.message);
        })
        .finally();
    },
    async fetchUsersByBalance() {
      this.loading = true;
      await this.$axios
        .get(`/balance?page=0&limit=100000`)
        .then((response) => {
          this.balances = response.data.result;
          this.total = response.data.total;
          this.debt = response.data.debt;
          this.debtWhichHasWallet = response.data.debtWhichHasWallet;

          this.sum = response.data.sum;
          this.totalAssets = response.data.totalAssets;
          this.last_update = new Date(
            response.data.setting.updatedAt
          ).toDateString();
          this.setting = response.data.setting;
        })
        .catch((error) => {
          this.$toast(error.message);
        })
        .finally(() => (this.loading = false));
    },
    async onPayoutClick(payoutDetails) {
      this.loading = true;
      if (payoutDetails.verificationLink)
        await this.$axios
          .post(`/payouts`, payoutDetails)
          .then((response) => {
            this.$toast.success("payout saved and NFT balance reset to 0");
            this.fetchUsersByBalance();
          })
          .catch((error) => {
            console.log(JSON.stringify(error));
            this.$toast.error(error.message);
          })
          .finally(() => {
            this.loading = false;
          });
      else this.$toast.error("enter verification link");
    },
  },
  created() {
    this.fetchUsersByBalance();
  },
};
</script>

<style scoped></style>
