<template>
  <div class="page__stat">
    <div class="page__title h6">Latest Coupons</div>
    <nuxt-link
      class="products__btn btn_black products__btn btn btn_black center"
      to="/coupon/create"
    >
      add coupon
    </nuxt-link>
    <div class="sorting">
      <div class="sorting__row">
        <!-- <div class="sorting__col"> -->
        <!-- <div class="sorting__dropdowns">
            <div class="dropdown js-dropdown"> -->
        <!-- calculate date of 30 day ago and filter eq -->
        <!-- <div class="dropdown__head js-dropdown-head">Last 30 days</div>
              <div class="dropdown__body js-dropdown-body">
                <a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Collab UI Kit</div>
                  <div class="dropdown__info caption">Coded Template</div>
                </a>
              </div> -->
        <!-- </div> -->
        <!-- created date eq, updatedAt eq -->
        <!-- <div class="dropdown js-dropdown">
              <div class="dropdown__head js-dropdown-head">Aug 2020</div>
              <div class="dropdown__body js-dropdown-body">
                <a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Collab UI Kit</div>
                  <div class="dropdown__info caption">Coded Template</div>
                </a>
              </div>
            </div> -->
        <!-- </div>
        </div> -->
        <!-- <div class="sorting__col">
          <div class="sorting__line">
            <div class="sorting__search">
              <button class="sorting__open">
                <svg class="icon icon-search">
                  <use xlink:href="img/sprite.svg#icon-search"></use>
                </svg></button
              ><input class="sorting__input" type="text" placeholder="Search" />
            </div>
             <div class="sorting__actions">
              <button class="sorting__action">
                <svg class="icon icon-edit">
                  <use xlink:href="img/sprite.svg#icon-edit"></use>
                </svg></button
              ><button class="sorting__action">
                <svg class="icon icon-box">
                  <use xlink:href="img/sprite.svg#icon-box"></use>
                </svg>
              </button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="products products_history">
      <div class="products__table">
        <div class="products__row products__row_head">
          <!-- <div class="products__cell">
            <label class="checkbox"
              ><input class="checkbox__input" type="checkbox" /><span
                class="checkbox__in"
                ><span class="checkbox__tick"></span></span
            ></label>
          </div> -->
          <div class="products__cell">Code</div>
          <div class="products__cell">Discount</div>
          <div class="products__cell">Status</div>
          <div class="products__cell">end date</div>
          <div class="products__cell">action</div>
          <!-- <div class="products__cell">shipping status</div> -->
        </div>

        <div
          class="products__row"
          v-for="l of list"
          v-show="l"
          v-bind:key="l._id"
        >
          <div class="products__cell">
            <div class="products__price title">{{ l.code }}</div>
          </div>
          <div class="products__cell">
            <span>%{{ l.percent }}</span>
            <span v-if="l.amount">to ${{ l.amount }}</span>
          </div>

          <!-- create a component and render it by status -->
          <div class="products__cell">
            <div
              class="products__status caption"
              :class="{
                'bg-green': l.isActive == true,
                'bg-yellow': l.isActive == false,
              }"
            >
              {{ l.status }}
            </div>
          </div>

          <div class="products__cell color-gray">
            <span v-if="l.startDate">{{ l.startDate }} to {{ l.endDate }}</span>
          </div>

          <div class="products__cell color-gray">
            <select
              class="dropdown js-dropdown dropdown__head"
              @change="updateCoupon($event, l)" :value="l.isActive"
            >
              <option :value="true">Activate</option>
              <option :value="false">Deavtivate</option>
            </select>
          </div>
        </div>
        <!-- <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
      </div> -->
      </div>
      <div class="products__more center" v-show="loadMore">
        <button
          class="products__btn btn btn_black center"
          @click="filterOrders"
        >
          Load More
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Order",
  data() {
    return {
      list: [],
      createdAt: new Date(),
      updatedAt: new Date(),
      page: 0,
      limit: 8,
      sort: "status",
      ASC: 1,
      shippingstatusList: [
        "shipped",
        "delivered",
        "processing",
        "processed",
        "pending",
      ],
      loadMore: true,
    };
  },

  watch: {
    list() {
      for (const coupon of this.list) {
        if (coupon.startDate)
          coupon.startDate = new Date(coupon.startDate).toDateString();
        if (coupon.endDate)
          coupon.endDate = new Date(coupon.endDate).toDateString;
      }
    },
  },
  methods: {
    updateCoupon(event, item) {
      this.$axios
        .put(`coupons/${item._id}`, {
          isActive: (event.target.value === "true") ? true : false,
        })
        .then((response) => {
          this.filterOrders();
        });
        item.isActive = !item.isActive
    },
    filterOrders() {
      this.$axios
        .get(
          `coupons?page=${this.page}&limit=${this.limit}&sort=${this.sort}&ASC=${this.ASC}&status[eq]=finished`
        )
        .then((response) => {
          if (!response.data.length > 0) {
            this.loadMore = false;
          }
          this.list.push(...response.data);
          ++this.page;
        });
    },
  },
  created() {
    this.filterOrders();
  },
};
</script>

<style scoped></style>
