<template>
  <div>
    <div class="page__row page__row_head page__row_border">
      <div class="page__col">
        <!-- <div class="page__hello h5">Hi Tam Tran,</div> -->
        <div class="page__welcome h2">
          Welcome back<span class="desktop-hide">👋</span>
        </div>
      </div>
    </div>
    <div class="page__row page__row_border"></div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",

  layout: "default",
};
</script>
