<template>
  <div class="page__stat">
    <div class="page__title h6"></div>

    <div class="products products_history page__row">
      <div class="page__col">
        right balances
        <div class="products__row products__row_head">
          <div class="products__cell">
            <label class="checkbox"
              ><input class="checkbox__input" type="checkbox" /><span
                class="checkbox__in"
                ><span class="checkbox__tick"></span></span
            ></label>
          </div>
        </div>

        <div
          class="products__row"
          v-for="balance of balances.rightBalance"
          v-show="balance"
          v-bind:key="balance.owner"
        >
          <div class="products__cell">
            <div class="products__price title">
              {{ balance.user.email_address }}
            </div>
            <div class="products__transaction caption color-gray">
              {{ balance.balance.balance }}
            </div>
            <div class="products__transaction caption color-gray">
              {{ balance.owner }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        wrong balances
        <div class="products__row products__row_head">
          <div class="products__cell">
            <label class="checkbox"
              ><input class="checkbox__input" type="checkbox" /><span
                class="checkbox__in"
                ><span class="checkbox__tick"></span></span
            ></label>
          </div>
        </div>

        <div
          class="products__row"
          v-for="balance of balances.wrongBalance"
          v-show="balance"
          v-bind:key="balance.owner"
        >
          <div class="products__cell">
            <div class="products__price title">
              {{ balance.user.email_address }}
            </div>
            <div class="products__transaction caption color-gray">
              {{ balance.balance.balance }}
            </div>
            <div class="products__transaction caption color-gray">
              {{ balance.owner }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Balance",
  data() {
    return {
      balances: [],
      payoutDetails: "",
    };
  },
  methods: {
    async fetchUsersByBalance() {
      await this.$axios.get(`/users/checkUserBalances`).then((response) => {
        this.balances = response.data;
      });
    },
    async onPayoutClick(payoutDetails) {
      console.log(
        "%cbalance.vue line:64 this.payoutDetails",
        "color: #007acc;",
        this.payoutDetails
      );
    },
  },
  created() {
    this.fetchUsersByBalance();
  },
};
</script>

<style scoped></style>
