<template>
  <div>
    <div class="page__row page__row_border page_flex__center">
      <div class="page__col">
        <div class="details__container">
          <div class="details__title h6 mobile-hide">Login</div>
          <div class="page__login">
            <div class="form__login">
              <div v-if="step === 1">
                <div class="form__field field">
                  <div class="field__label">email</div>
                  <div class="field__wrap">
                    <input
                      v-model="email"
                      class="field__input"
                      type="text"
                      placeholder="Please enter your email"
                    />
                  </div>
                </div>

                <div class="form__field field">
                  <div class="field__label">Password</div>
                  <div class="field__wrap">
                    <input
                      v-model="password"
                      class="field__input"
                      type="password"
                      placeholder="Password"
                    />
                  </div>
                </div>

                <div class="form__field">
                  <button
                    class="btn btn_purple btn_block"
                    :disabled="loading"
                    @click="onLoginClick"
                  >
                    Login
                  </button>
                </div>
              </div>

              <div v-if="step === 2">
                <div class="form__field field">
                  <div class="field__label">Otp Code</div>
                  <div class="field__wrap">
                    <input
                      class="field__input"
                      v-model="code"
                      type="text"
                      placeholder="Please enter your code"
                    />
                  </div>
                </div>

                <div class="form__field">
                  <button
                    :disabled="loading"
                    class="btn btn_purple btn_block"
                    @click="onVerifyClick"
                  >
                    Login
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiRoutes from "~/config/apiRoutes";

export default {
  name: "login",

  layout: "auth",

  data() {
    return {
      step: 1,
      loading: false,
      email: "",
      password: "",
      code: "",
    };
  },

  methods: {
    async onLoginClick() {
      this.loading = true;
      await this.$auth
        .loginWith("local", {
          data: {
            email: this.email,
            password: this.password,
            code: "",
          },
        })
        .then((data) => {
          if (data.status === 202) {
            this.step = 2;
          } else if (data.status === 200 || data.status === 201) {
            this.$router.push("/dashboard");
          }
        })
        .catch((err) => {
          try {
            this.$toast.error(err.response.data.message);
          } catch (e) {
            console.log(err);
          }
        })
        .finally(() => {
          this.loading = false;
        });
      //
      // await this.$axios.$post(apiRoutes.AUTH_LOGIN, {...certificates}).then((data) => {
      //   if (data.mode === 'twoStep') {
      //     this.step = 2
      //   } else {
      //
      //   }
      // }).catch((err) => {
      //   console.log(err)
      //   this.$toast.error(err.response.data.message)
      // }).finally(() => {
      //   this.loading = false;
      // })
    },

    async onVerifyClick() {
      this.loading = true;
      await this.$auth
        .loginWith("local", {
          email: this.email,
          password: this.password,
          code: this.code,
        })
        .then((data) => {
          // this.$cookies.set("wallet-connected", true, {
          //   path: "/",
          //   maxAge: 60 * 60 * 24 * 7,
          // });
        })
        .catch(() => {
          // this.onLogout();
        });
      // await this.$axios
      //   .$post(apiRoutes.OTP_AUTHENTICATE, {
      //     email: this.email,
      //     password: this.password,
      //     code: this.code,
      //   })
      //   .then((data) => {
      //     this.$auth.setUserToken(data.access_token);
      //     this.$router.push("/dashboard");
      //   })
      //   .catch((err) => {
      //     try {
      //       this.$toast.error(err.response.data.message);
      //     } catch (e) {
      //       console.log(err);
      //     }
      //   })
      //   .finally(() => {
      //     this.loading = false;
      //   });
    },
  },
};
</script>

<style scoped></style>
