<template>
  <div class="page__stat">
    <div class="page__title h6">Latest Orders</div>

    <div class="sorting">
      <div class="sorting__row"></div>
    </div>
    <div class="page__row">
      <select
        class="dropdown js-dropdown dropdown__head margin-sides-10"
        @change="setPageToZero"
        v-model="filter"
      >
        <option value="filterOrders">all orders</option>
        <option value="filterDiscountedOrders">discounted orders</option>
        <option value="filterPendingOrders">pending orders</option>
      </select>
      <select
        class="dropdown js-dropdown dropdown__head margin-sides-10"
        v-model="shippingStatus"
        @change="setPageToZero"
      >
        <option
          v-for="status of shippingstatusList"
          :selected="shippingStatus == status"
          v-bind:key="status"
        >
          {{ status }}
        </option>
      </select>
    </div>
    <div class="products products_history">
      <div class="products__table">
        <div class="products__row products__row_head">
          <div class="products__cell">order number</div>
          <div class="products__cell">payment</div>
          <div class="products__cell">Payout Method</div>
          <div class="products__cell">Status</div>
          <div class="products__cell">Date Processed</div>
          <div class="products__cell">shipping status</div>
        </div>

        <div
          class="products__row"
          v-for="l of list"
          v-show="l"
          v-bind:key="l._id"
        >
          <div class="products__cell">
            <div class="products__transaction caption color-gray">
              <nuxt-link class="sidebar__item" :to="`/order-details/${l._id}`">
                {{ l._id }}</nuxt-link
              >
            </div>
          </div>
          <div class="products__cell">
            <div
              :class="{
                'products__price title total-price_discounted': l.discountPrice,
              }"
            >
              ${{ l.totalPrice }}
            </div>
            <div v-if="l.couponCode">({{ l.couponCode }})</div>
          </div>
          <div class="products__cell">
            <span v-if="l.payment">{{ l.payment.pay_amount }}</span>
            <span v-if="l.coin"> ({{ l.coin.toUpperCase() }})</span>
          </div>

          <!-- create a component and render it by status -->
          <div class="products__cell">
            <div
              class="products__status caption"
              :class="{
                'bg-green': l.status === 'finished',
                'bg-yellow': l.status == 'waiting' || 'pending',
              }"
            >
              {{ l.status }}
            </div>
          </div>

          <div class="products__cell color-gray">{{ l.createdAt }}</div>
          <div class="products__cell color-gray">
            <select
              class="dropdown js-dropdown dropdown__head"
              v-model="l.shippingStatus"
              @change="changeShippingStatus(l._id, l.shippingStatus)"
            >
              <option
                v-for="option of shippingstatusList"
                :select="option == l.shippingStatus"
                v-bind:key="option"
              >
                {{ option }}
              </option>
            </select>
          </div>
        </div>
        <div class="products__body">
          <div class="products__bg bg-green"></div>
          <div class="products__line">
            <div class="products__col color-gray">17 Aug 2020</div>
            <div class="products__col">Paypal</div>
            <div class="products__col color-red">$3.49</div>
          </div>
        </div>
      </div>
      <div class="products__more" v-show="loadMore">
        <button class="products__btn btn btn_black" @click="loadMoreAction">
          Load More
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Order",
  data() {
    return {
      list: [],
      createdAt: new Date(),
      updatedAt: new Date(),
      page: 0,
      limit: 8,
      sort: "status",
      ASC: 1,
      filter: "filterOrders",
      shippingstatusList: ["shipped", "delivered", "processing", "processed"],
      status: "finished",
      shippingStatus: "processing",
      loadMore: true,
    };
  },

  watch: {
    list() {
      for (const order of this.list) {
        order.createdAt = new Date(order.createdAt).toDateString();
        if (order.coupon) order.couponCode = order.coupon.code;
      }
    },
    filter() {
      var fn = this.filter;
      this[fn]();
    },
    shippingStatus() {
      this.filterOrders();
    },
  },
  methods: {
    loadMoreAction() {
      var fn = this.filter;
      this[fn]();
    },

    setPageToZero() {
      this.page = 0;
      this.list = [];
    },
    filterOrders(event) {
      // if (this.isFiltered) {
      //   return this.filterDiscountedOrders();
      // }
      if (event)
        console.log(
          "%corders.vue line:151 event.target.value",
          "color: #007acc;",
          event.target.value
        );
      this.$axios
        .get(
          `orders?page=${this.page}&limit=${this.limit}&sort=${this.sort}&ASC=${this.ASC}&status[eq]=${this.status}&shippingStatus[eq]=${this.shippingStatus}`
        )
        .then((response) => {
          if (!response.data.length > 0) {
            this.loadMore = false;
          } else {
            this.loadMore = true;
          }
          this.list.push(...response.data);
          ++this.page;
        });
    },
    async changeShippingStatus(_id, shippingStatus) {
      await this.$axios
        .put(`orders/${_id}`, { shippingStatus })
        .then((response) => {
          this.$toast.success("updated");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async filterDiscountedOrders() {
      this.page = 0;
      this.list = [];
      this.$axios
        .get(
          `orders?page=${this.page}&limit=${this.limit}&sort=${this.sort}&ASC=${this.ASC}&status[eq]=finished&discountPrice[gt]=0`
        )
        .then((response) => {
          if (!response.data.length > 0) {
            this.loadMore = false;
          } else {
            this.loadMore = true;
          }
          this.list.push(...response.data);
          ++this.page;
        });
    },
    async filterPendingOrders() {
      this.$axios
        .get(
          `orders?page=${this.page}&limit=${this.limit}&sort=${this.sort}&ASC=${this.ASC}&status[eq]=pending`
        )
        .then((response) => {
          if (!response.data.length > 0) {
            this.loadMore = false;
          } else {
            this.loadMore = true;
          }
          this.list.push(...response.data);
          ++this.page;
        });
    },
  },
  created() {
    var fn = this.filter;
    this[fn]();
  },
};
</script>

<style scoped></style>
