<template>
  <div class="page__stat">
    <div class="page__title h6">Latest Payouts</div>

    <div class="sorting">
      <div class="sorting__row">
        <!-- <div class="sorting__col"> -->
        <!-- <div class="sorting__dropdowns">
            <div class="dropdown js-dropdown"> -->
        <!-- calculate date of 30 day ago and filter eq -->
        <!-- <div class="dropdown__head js-dropdown-head">Last 30 days</div>
              <div class="dropdown__body js-dropdown-body">
                <a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Collab UI Kit</div>
                  <div class="dropdown__info caption">Coded Template</div>
                </a>
              </div> -->
        <!-- </div> -->
        <!-- created date eq, updatedAt eq -->
        <!-- <div class="dropdown js-dropdown">
              <div class="dropdown__head js-dropdown-head">Aug 2020</div>
              <div class="dropdown__body js-dropdown-body">
                <a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Bento 3D Kit</div>
                  <div class="dropdown__info caption">Illustration</div> </a
                ><a class="dropdown__item" href="#">
                  <div class="dropdown__title title">Collab UI Kit</div>
                  <div class="dropdown__info caption">Coded Template</div>
                </a>
              </div>
            </div> -->
        <!-- </div>
        </div> -->
        <!-- <div class="sorting__col">
          <div class="sorting__line">
            <div class="sorting__search">
              <button class="sorting__open">
                <svg class="icon icon-search">
                  <use xlink:href="img/sprite.svg#icon-search"></use>
                </svg></button
              ><input class="sorting__input" type="text" placeholder="Search" />
            </div>
             <div class="sorting__actions">
              <button class="sorting__action">
                <svg class="icon icon-edit">
                  <use xlink:href="img/sprite.svg#icon-edit"></use>
                </svg></button
              ><button class="sorting__action">
                <svg class="icon icon-box">
                  <use xlink:href="img/sprite.svg#icon-box"></use>
                </svg>
              </button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="products products_history">
      <div class="products__table">
        <div class="products__row products__row_head">
          <div class="products__cell">Amount</div>
          <div class="products__cell">Wallet</div>
          <div class="products__cell">Target wallet</div>
          <div class="products__cell">Verification Link</div>
        </div>
        <div
          class="products__row"
          v-for="l of list"
          v-show="l"
          v-bind:key="l._id"
        >
          <div class="products__cell">{{ l.amount }}</div>
          <div class="products__cell">{{ l.wallet_address }}</div>
          <div class="products__cell">{{ l.target_wallet }}</div>
          <div class="products__cell">
            <div v-if="l.status === 1">
              <input
                v-if="l.status === 1"
                class="field__input"
                type="text"
                v-model="l.verificationLink"
                name="size"
                placeholder="e. g. https://etherscan.io"
                required=""
              />
            </div>

            <a
              v-else-if="l.status === 3"
              :href="l.verificationLink"
              target="_blank"
              ><span>{{ l.createdAt }}</span
              ><span style="margin-left: 5px"
                ><img src="~/assets/images/open-in-new-window.png" width="10"
              /></span>
            </a>
          </div>
          <div class="products__cell" v-if="l.status === 1">
            <button
              class="btn btn_purple btn_block"
              @click="
                onPayoutClick({
                  _id: l._id,
                  verificationLink: l.verificationLink,
                })
              "
            >
              paid!
            </button>
          </div>
        </div>
      </div>
      <div class="products__more">
        <button
          class="products__btn btn btn_black"
          @click="fetchPayoutRequests"
        >
          Load More
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Payout",
  data() {
    return {
      list: [],
      createdAt: new Date(),
      updatedAt: new Date(),
      page: 0,
      limit: 10,
      sort: "_id",
      ASC: -1,
    };
  },
  watch: {
    list() {
      for (const l of this.list) {
        l.createdAt = new Date(l.createdAt).toDateString();
      }
    },
  },
  methods: {
    fetchPayoutRequests() {
      this.$axios
        .get(
          `payouts?page=${this.page}&limit=${this.limit}&sort=${this.sort}&ASC=${this.ASC}&status[eq]=1`
        )
        .then((response) => {
          this.list.push(...response.data.payouts);
          ++this.page;
        });
    },
    async onPayoutClick(payoutDetails) {
      this.loading = true;
      if (payoutDetails.verificationLink)
        await this.$axios
          .put(`/payouts/${payoutDetails._id}/confirm`, payoutDetails)
          .then((response) => {
            this.$toast.success("payout saved and NFT balance reset to 0");
            this.page = 0;
            this.list = [];
            this.fetchPayoutRequests();
          })
          .catch((error) => {
            console.log(JSON.stringify(error));
            this.$toast.error(error.message);
          })
          .finally(() => {
            this.loading = false;
          });
      else this.$toast.error("enter verification link");
    },
  },
  created() {
    this.fetchPayoutRequests();
  },
};
</script>

<style scoped></style>
