<template>
  <div>
    <div class="page__row page__row_head">
      <div class="page__col">
        <div class="page__hello h5">Setting</div>
      </div>
    </div>

    <div class="page__content">
      <div class="notification">
        <div class="notification__tags">
          <button
            class="notification__tag"
            @click="tab = 1"
            :class="{ active: tab === 1 }"
          >
            Collections
          </button>
          <!-- <button
            class="notification__tag"
            @click="tab = 2"
            :class="{ active: tab === 2 }"
          >
            Items
          </button> -->
          <button
            class="notification__tag"
            @click="tab = 5"
            :class="{ active: tab === 5 }"
          >
            products
          </button>

          <button
            class="notification__tag"
            @click="tab = 3"
            :class="{ active: tab === 3 }"
          >
            Users
          </button>
          <button
            class="notification__tag"
            @click="tab = 4"
            :class="{ active: tab === 4 }"
          >
            Security
          </button>
        </div>

        <div v-if="tab === 1">
          <CollectionsSettings />
        </div>

        <div v-if="tab === 2">
          <ItemsSettings />
        </div>

        <div v-if="tab === 3">
          <UsersSettings />
        </div>

        <div v-if="tab === 4">
          <TwoStepVerification />
        </div>
        <div v-if="tab === 5">
          <ProductsSettings />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CollectionsSettings from "~/components/sections/Settings/CollectionsSettings";
import ItemsSettings from "~/components/sections/Settings/ItemsSettings";
import UsersSettings from "~/components/sections/Settings/UsersSettings";
import TwoStepVerification from "~/components/sections/Settings/TwoStepVerification";
import ProductsSettings from "~/components/sections/Settings/ProductsSettings";
export default {
  name: "settings",
  components: {
    UsersSettings,
    ItemsSettings,
    CollectionsSettings,
    TwoStepVerification,
    ProductsSettings,
  },

  data() {
    return {
      tab: 1,
    };
  },
};
</script>

<style scoped></style>
