<template>
  <div class="page__col page__col_full border-0">
    <div class="page__stat page__stat_sm">
      <div class="products products_statement">
        <div class="products__title h6 mobile-hide">colletion products</div>
        <div class="products__info caption mobile-hide"></div>
        <div class="products__table">
          <div class="products__row products__row_head">
            <div class="products__cell">Name</div>

            <div class="products__cell">balance</div>
            <div class="products__cell">total sales</div>
          </div>

          <div
            class="products__row"
            v-for="(product, index) in products"
            v-bind:key="index"
          >
            <div class="products__cell">{{ product.name }}</div>

            <div class="products__cell">{{ product.balance }}</div>
            <div class="products__cell">{{ product.sales }}</div>
            <div class="products__cell">
              <button
                class="btn btn_purple"
                @click="removeProduct(product._id)"
              >
                Delete!
              </button>
            </div>
          </div>
        </div>
        <div class="products__more">
          <div class="products__more" v-show="loadMore">
            <button class="products__btn btn btn_black" @click="getProducts">
              Load More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import apiRoutes from "~/config/apiRoutes";
export default {
  name: "contract_details",
  data() {
    return { products: [], productPage: 0, loadMore: true };
  },
  methods: {
    async getProducts() {
      const slug = this.$route.params.id;
      await this.$axios
        .$get(`${apiRoutes.COLLECTION_INDEX}/slug/${slug}`)
        .then((response) => {});
      await this.$axios
        .$get(
          `${apiRoutes.COLLECTION_INDEX}/products/${slug}?page=${this.productPage}&limit=10`
        )
        .then((response) => {
          if (!response.products.length > 0) {
            this.loadMore = false;
          }
          ++this.productPage;
          this.products.push(...response.products);
        });
    },
    async removeProduct(_id) {
      this.$axios
        .delete(`${apiRoutes.PRODUCTS}/${_id}`)
        .then((response) => {
          this.productPage = 0;
          this.products = [];
          this.getProducts();
        })
        .catch((error) => {
          this.$toast.error(error);
        });
    },
  },
  created() {
    this.getProducts();
  },
};
</script>
